name: Create Bitbucket Bot release

env:
  DOCKERHUB_USER: devopsiaci
  DOCKERHUB_REPO: bitbucket-bot
  GHCR_REGISTRY: ghcr.io
  GHCR_REPO: ${{ github.repository }}

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - app/**
      - Dockerfile

jobs:
  release:
    name: Create tag release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        id: semantic_release
        with:
          dry_run: false
          branch: main
          tag_format: v${version}
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB }}
